<div class="center hero-unit">


		<h1>Sample App</h1>
		<h2>Kitten says <a href="http://kitten.com">hi</a>.
		</h2>


	<%= link_to "Sign Up Now!", '#', class: "btn btn-large btn-primary" %>
</div>
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
	